
/* Fondo de pantalla y estilos generales */
body {
    background-image: url('../img/vegetales.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* pequeña división para separar el formulario del borde de la pantalla */
div{
    margin-top: 2px;
}

/* Estilos del formulario */
.form-container {
    width: 700px;
    margin: auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.865);
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}



h2 {
    text-align: center;
    margin-bottom: 20px;
    color: darkblue;
}

label {
    display: block;
    margin-bottom: 10px;
    color: rgb(0, 106, 255);
}

/* Estilos para los inputs de los campos del formulario */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="time"],
select,
textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Evitar que el usuario pueda redimensionar el área de texto */
textarea {
    resize: none;
}

/* Estilos para los botones */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos para el botón de envío */
button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: navy;
}

input[type="range"] {
    width: 90%;
    margin-bottom: 20px;
}
